<!--
including header content which is common for all pages
-->


{% include "../layout/header.html" %}    

{% if (messages.error)  %}
    <p style="color:red">{{ messages.error }}</p>
{% endif %}
 
{% if (messages.success)  %}
    <p style="color:green">{{ messages.success }}</p>
{% endif %}
 <p id="error" style="color:red"></p>
<form action="/users/edit/{{ id }}" method="post" name="form1" onsubmit="return validateform()">
    <table width="25%" border="0">
        <tr> 
            <td>First Name</td>
            <td><input type="text" name="firstname" id="firstname" value="{{firstname}} " /></td>
        </tr>
        <tr> 
            <td>Last Name</td>
            <td><input type="text" name="lastname" id="lastname" value="{{ lastname }}" /></td>
        </tr>
        <tr> 
            <td>Age</td>
            <td><input type="number" name="age" value="{{age}}" /></td>
        </tr>
        <tr> 
            <td>Email</td>
            <td><input type="text" name="email" value="{{email}}" /></td>
        </tr>
        <tr> 
            <td>Class</td>
            <td><input type="text" name="class" value="{{class}}" /></td>
        </tr>
        <tr> 
            <td>Hobbies</td>
            <td><input type="text" name="hobbies" value="{{hobbies}}" /></td>
        </tr>
        <tr> 
            <td>Result</td>
            <td><input type="text" name="result" id="result" value="{{ result }}" /></td>
        </tr>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Update" /></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT" />
</form>
 <script>
 function validateform(){
      
    var age=document.getElementById("ageTextBox").value;
    
    //age = parseInt(age, 10);
    //check if age is a number or less than or greater than 100
    if (isNaN(age) || age < 18 || age > 100)
    { 
        document.getElementById("error").innerHTML="The age must be a number between 18 and 100";
        return false;
    }
    

   }   
 
 </script>
<!--
including footer content which is common for all pages
-->
{% include "layout/footer.html" %}
