<!DOCTYPE html>
<html lang="en">
<head>
<title>JavaScript - read JSON from URL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div> 
           {% include "../layout/nav.html" %}
           
        </div> 
    <div class="mypanel" style="clear:both">
    <h4 >User Name: </h4><p style="margin-left:10px;" id="login"></p>
    <h4>User Id: </h4><p style="margin-left:10px;" id="id"></p>
    <h4>Profile Picture:</h4> <p style="margin-left:10px;" id="profile"></p>

    </div>

    <script>
    $.getJSON('https://api.github.com/users/asmit-patil', function(data) {
        
       
        
        var login= `${data.login}`;
        var id=`${data.id}`;
        var img=`<img src="${data.avatar_url}" height="100px" widht="60px">`;
        $("#login").html(login);
        $("#id").html(id);
        $("#profile").html(img);

    });
    </script>
    
</body>
</html>