<div class="nav">  
                <ul >
                    <li ><a href="/">Home</a></li>
                    <li><a  href="#">FAQ</a></li>
                    <li><a  href="#">Pages</a></li>
                    <li><a  href="#">Contact Us</a></li>
                    <li><a  href="#">Career</a></li>
                    <li><a  href="/users/getdemojson">Demo</a></li> 
                    <li><a  href="/users/getgitprofiledata">Github-Profile</a></li>    
                </ul>
</div>
{% block css %}
  <link rel="stylesheet" href="./public/css/mycss.css" />
{% endblock %}